<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <message><%= message %></message>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>My First App</h2>
    <p>
      <%= message %>
    </p>
    <ol>
      <% for(i=0; i<data.length; i++){ %>
        <li>
          The population of <%= data[i].city %> is <%= data[i].population %>.
        </li>
      <% } %>
    </ol>
  </body>
</html>
